.Game {
  /*  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  */

  display: grid;
  grid-template-columns: 1fr 730px 1fr;
  grid-template-rows: 363px 363px;
}

.info-area-1 {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.info-area-2 {
  border: 1px solid black;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.info-area-3 {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.info-area-4 {
  border: 1px solid black;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.main-area {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: center;
}

.land {
  /*width: 50%;
  height: 50%;*/
}
