.App {
    background: url("../images/home_background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'ITC Kabel Std', sans-serif;
    font-size: 1.1rem;
}

.navbar-brand {
    font-family: 'Monopoly', sans-serif;
    font-size: 2rem
}

h1, h2 {
    font-family: 'Monopoly', sans-serif;
}

#show-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

#hide-navbar {
    position: absolute
}
