.board {
  display: grid;
  grid-template-columns: 90px repeat(9, 60px) 90px;
  grid-template-rows: 90px repeat(9, 60px) 90px;
  gap: 0px;
  padding: 1px;
  border: 1px solid black;
  margin: 1px;
  place-items: center;
  /*background: #dae9d4;*/
  background-image: url("../images/board.jpg");
  background-size: contain;
}

.cell {
  width: 100%;
  height: 100%;
}
.cell.active {
  border: 2px solid red;
}

.top-line {
  transform: rotate(0.5turn);
  max-width: 100%;
}

.bottom-line {
  max-width: 100%;
}

.left-line {
  max-width: 100%;
}

.right-line {
  max-width: 100%;
}

#cell-20 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#cell-21 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#cell-22 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
#cell-23 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
#cell-24 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
#cell-25 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}
#cell-26 {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}
#cell-27 {
  grid-column: 8 / 9;
  grid-row: 1 / 2;
}
#cell-28 {
  grid-column: 9 / 10;
  grid-row: 1 / 2;
}
#cell-29 {
  grid-column: 10 / 11;
  grid-row: 1 / 2;
}
#cell-30 {
  grid-column: 11 / 12;
  grid-row: 1 / 2;
}

#cell-31 {
  grid-column: 11 / 12;
  grid-row: 2 / 3;
}

#cell-32 {
  grid-column: 11 / 12;
  grid-row: 3 / 4;
}

#cell-33 {
  grid-column: 11 / 12;
  grid-row: 4 / 5;
}

#cell-34 {
  grid-column: 11 / 12;
  grid-row: 5 / 6;
}

#cell-35 {
  grid-column: 11 / 12;
  grid-row: 6 / 7;
}

#cell-36 {
  grid-column: 11 / 12;
  grid-row: 7 / 8;
}

#cell-37 {
  grid-column: 11 / 12;
  grid-row: 8 / 9;
}

#cell-38 {
  grid-column: 11 / 12;
  grid-row: 9 / 10;
}

#cell-39 {
  grid-column: 11 / 12;
  grid-row: 10 / 11;
}

#cell-0 {
  grid-column: 11 / 12;
  grid-row: 11 / 12;
}

#cell-1 {
  grid-column: 10 / 11;
  grid-row: 11 / 12;
}

#cell-2 {
  grid-column: 9 / 10;
  grid-row: 11 / 12;
}

#cell-3 {
  grid-column: 8 / 9;
  grid-row: 11 / 12;
}

#cell-4 {
  grid-column: 7 / 8;
  grid-row: 11 / 12;
}

#cell-5 {
  grid-column: 6 / 7;
  grid-row: 11 / 12;
}

#cell-6 {
  grid-column: 5 / 6;
  grid-row: 11 / 12;
}

#cell-7 {
  grid-column: 4 / 5;
  grid-row: 11 / 12;
}

#cell-8 {
  grid-column: 3 / 4;
  grid-row: 11 / 12;
}

#cell-9 {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
}

#cell-10 {
  grid-column: 1 / 2;
  grid-row: 11 / 12;
}

#cell-11 {
  grid-column: 1 / 2;
  grid-row: 10 / 11;
}

#cell-12 {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
}

#cell-13 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}

#cell-14 {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

#cell-15 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

#cell-16 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

#cell-17 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#cell-18 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#cell-19 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
