.address {
  font-size: x-small;
  font-weight: bold;
}

.dice-display{
    height: 4rem;
    aspect-ratio: 1;
    display: inline-block;
    filter: drop-shadow(1rem 1rem 1rem black);
}

.ml-150{
  margin-left: 150px;
}

.mr-20{
  margin-right: 20px;
}

#random-switch {
  margin-left: 0px !important;
}